@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@model PagedList.PagedList<QuanLiWeb.Models.Phim>
@using QuanLiWeb.Models;
<!DOCTYPE html>
<!-- saved from url=(0028)~/Content/image/home.html -->
<link href="~/Content/PagedList.css" rel="stylesheet" />
<html>
<body>
    <div id="wrapper">
        <div id="container">
            <div class="breadcrumbs">
                <div xmlns:v="http://rdf.data-vocabulary.org/#">
                    <span typeof="v:Breadcrumb">
                        <a property="v:title">PHIM @ViewBag.ten |TRANG @Model.PageNumber</a>
                    </span>
                </div>
            </div>
            <div class="box">
                <ul>
                    @foreach (Phim item in Model)
                    {
                        <li class="video-list">

                            <a title=@item.TenPhim href="@Url.Action("chitiet","Home",new { @id=item.MaPhim})">
                                <img class="video-image" src="~/Content/image/@item.TenAnh" alt=@item.TenPhim>
                            </a>
                            <h2 class="video-name">
                                <a title=@item.TenPhim href="@Url.Action("chitiet","Home",new { @id=item.MaPhim})">
                                    @item.TenPhim
                                </a>
                            </h2>
                        </li>
                    }
                </ul>
                <div class="clr"></div>
                <div class="pagenavi">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", "TheLoai", new { page = page, @matl = @ViewBag.id }))
                </div>
            </div>
        </div>
    </div>
</body>
</html>

